/* CSS reset */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  line-height: 36px;
}

body {
  display: grid;
  justify-content: center;
  justify-items: center;
  background-color: hsl(30, 38%, 92%);
}

.grid-container {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.mobile-image{
  display: none;
}

.grid-img {
  max-width: 100%;
}

.grid-text {
  display: flex;
  flex-wrap: wrap;
  border-radius: 0 3% 3% 0;
  font-size: 14px;
  width: 310px;
  height: 500px;
  padding: 2.5rem;
  background-color: hsl(0, 0%, 100%);
  color: hsl(228, 12%, 48%);
  }

img {
  max-width: 700px;
  max-height: 500px;
  border-radius: 3% 0 0 3%;
}

.ribbon-text {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.floral {
  font-weight: 400;
  /* padding-right: 40px; */
  line-height: 1.7;
  color: hsl(228, 12%, 48%);
  }

h2 {
    font-family: "Fraunces", sans-serif;
    font-weight: 800;
    font-size: 36px;
    color: black;
  }

.new-price {
  font-family: "Fraunces", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  display: inline;
}

s {
  position: relative;
  bottom: 10px;
  left: 10px;
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-weight: 400;
  font-size: 15px;
}

button {
  display: flex;
  font-family: "Montserrat", sans-serif;
  color: hsl(0, 0%, 100%);
  justify-content: center;
  align-items: center;
  word-spacing: 1px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  font-weight: 600;
  background-color: hsl(158, 36%, 37%);
}

.shopping-cart {
 width: 25px;
 height: 15px;
}

@media only screen and (max-width:768px) { 
  .grid-container{
    display: flex;
    flex-direction: column;
    max-height: fit-content;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image{
    display: block;
    max-width: 100%;
  }

  .grid-img{
    height: auto;
    width: auto;
    margin: 0px;
  }

  img{
    border-radius: 3% 3% 0 0;
  }

  .grid-text{
    width: auto;
    height: auto;
    border-radius: 0 0 3% 3%;
  }

}