
body {
  display: grid;
  justify-content: center;
  justify-items: center;
  max-width: 100%;
  background-color: hsl(30, 38%, 92%);
}

.grid-container {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}

.col-3 {
  display: inline;
}

.grid-img {
  display: inline;
  border-radius: 10% 0 0 10%;
}

.grid-text {
  display: inline;
  border-radius: 0 5% 5% 0;
  font-size: 15px;
  width: 310px;
  height: 368px;
  padding: 1.5rem;
  color: hsl(228, 12%, 48%);
  }

img {
  border-radius: 5% 0 0 5%;
  background-size: contain;
  max-width: 700px;
  max-height: 700px;
}

p {
  display: inline;
}

.ribbon-text {
  display: inline;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

hgroup {
  display: inline;
}

h2 {
  display: inline;
}

.essence {
font-family: "Fraunces", sans-serif;
font-weight: 700;
color: black;
}

.floral {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-right: 40px;
  line-height: 1.7;
  }

  .gabrielle {
    color: black;
  }

.new-price {
  font-family: "Fraunces", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  display: inline;
}

s {
  position: relative;
  bottom: 10px;
  left: 10px;
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-weight: 400;
  font-size: 15px;
}

button {
  display: flex;
  font-family: "Montserrat", sans-serif;
  color: hsl(0, 0%, 100%);
  justify-content: center;
  word-spacing: 1px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  background-color: hsl(158, 36%, 37%);
}
.shopping-cart {
  display: inline;
  /* padding-right: 10px; */
}