  @media screen and (max-width: 375px){

body {
    display: flex;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    margin: 0;
    box-sizing:var(.2rem);
        }


.grid-container {
  position: relative;
  flex-direction: column;
  padding: 1.5rem;
  }

img {
  max-width: 100%;
  border-radius: 1rem 1rem 0 0;
}

picture{
  display: flex;
}

.grid-text {
    color: hsl(228, 12%, 48%);
    background-color: hsl(0, 0%, 100%);
    padding: 1.3rem;
    border-radius: 0 0 1rem 1rem;
  }

.ribbon-text {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    font-size: .8rem;
    letter-spacing: .2rem;
    }

.gabrielle {
font-family: "Fraunces", sans-serif;
font-weight: 700;
font-size: 1.6rem;
color: black;
margin-top: 0;
margin-bottom: 0;
}

.floral {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: .8rem;
    line-height: 1.3rem;
    }

.new-price {
  font-size: 2rem;
  display: flex;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  margin-top: 0;
  margin-bottom: .5rem;
}

s {
    font-size: .8rem;
    font-family: "Montserrat", sans-serif;
    margin-left: 6%;
    margin-top: 4%;
    color: hsl(228, 12%, 48%);
    font-weight: 400;
}


button {
    display: flex;
    font-family: "Montserrat", sans-serif;
    color: hsl(0, 0%, 100%);
    padding: 1rem;
    border-radius: .5rem;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    border: none;
    background-color: hsl(158, 36%, 37%);
}

}

/*For desktop*/
@media screen and (min-width:376px) {


body {
  min-height: 10vh;
  background-color: hsl(30, 38%, 92%);
      }

div{
  display: flex;
  max-width: fit-content;
}

.grid-container {
  justify-content: center;
  padding: 1rem;
}

img {
  width: 100%;
  min-width: 25rem;
  height: auto;
}

picture{
display: flex;
width: 100%;
}

.grid-text {
  display:flex;
  flex-direction: column;
  color: hsl(228, 12%, 48%);
  background-color: hsl(0, 0%, 100%);
  padding: 1.3rem;
}

.ribbon-text {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  font-size: .8rem;
  letter-spacing: .2rem;
  }

.gabrielle {
font-family: "Fraunces", sans-serif;
font-weight: 700;
font-size: 1.6rem;
color: black;
margin-top: 0;
margin-bottom: 0;
}

.floral {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.3rem;
  }

.new-price {
font-size: 2rem;
display: flex;
font-family: "Fraunces", sans-serif;
font-weight: 700;
color: hsl(158, 36%, 37%);
margin-top: 0;
margin-bottom: .5rem;
}

s {
  font-size: .8rem;
  font-family: "Montserrat", sans-serif;
  margin-left: 6%;
  margin-top: 4%;
  color: hsl(228, 12%, 48%);
  font-weight: 400;
}


button {
  display: flex;
  font-family: "Montserrat", sans-serif;
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: .5rem;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  border: none;
  background-color: hsl(158, 36%, 37%);
}
}